@using YORed.Domain.Entities
@using YORed.Domain.Enums
@using YORed.Domain.Infrastructure


<h2>@ViewBag.Title</h2>
<br />
<div class="jumbotron">
    @foreach (Report report in ViewBag.Reports)
    {
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-10">
                    <span style="font-weight: 900" class="col-sm-12">Имя: @report.Title</span>
                    <span class="col-sm-12">Дата: @report.Date</span>
                    <span class="col-sm-12">Статус: @EnumString.GetStringValue(report.Status) @if(report.Status!=ReportStatus.New){ <span>взято: @report.ModeratorId</span> }</span>
                </div>

                <a class=" col-sm-2 btn btn-info" href="/Moderator/Report?id=@report.Id">Открыть</a>

            </div>
        </div>
        <br />
        <hr />
    }
</div>
