@using YORed.Domain.Enums
@using YORed.Domain.Infrastructure

@{
    ViewData["Title"] = "Report";
}


<script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>
<br />
<div class="row">
    <div class="jumbotron col-sm-6 col-sm-offset-2">
        <form asp-controller="Moderator" asp-action="UpdateReport" method="post">
            @Html.AntiForgeryToken()
            <input name="Id" type="hidden" value="@ViewBag.Report.Id" />
            <div class="row">
                <label class="col-sm-6 text-center">Заголовок</label>
                @if (ViewBag.Report.Status == 0 || ViewBag.UserId == ViewBag.Report.ModeratorId)
                {
                <input type="text" class="col-sm-6 form-control mb-3" name="Title" value="@ViewBag.Report.Title" />
                }
                else
                {
                <input type="text" class="col-sm-6 form-control mb-3" name="Title" value="@ViewBag.Report.Title" disabled />
                }
            </div>
            <br />
            <div class="row">
                <label class="col-sm-6 text-center">Дата</label>
                <input type="hidden" name="Date" value="@ViewBag.Report.Date" required>
                <span class="col-sm-6 form-control mb-3">@ViewBag.Report.Date</span>
            </div>
            <br />
            <div class="row">
                <label class="col-sm-4 text-center">Установить</label>
                @if (ViewBag.Report.Status == 0 || ViewBag.UserId == ViewBag.Report.ModeratorId)
                {
                <select class="status" name="Status">
                    <option value=0>@EnumString.GetStringValue(ReportStatus.New)</option>
                    <option value=1>@EnumString.GetStringValue(ReportStatus.InProgress)</option>
                    <option value=2>@EnumString.GetStringValue(ReportStatus.Done)</option>
                    <option value=3>@EnumString.GetStringValue(ReportStatus.Rejected)</option>
                </select>
                }
                else
                {
                <select class="status" name="Status" disabled>
                    <option value=0>@EnumString.GetStringValue(ReportStatus.New)</option>
                    <option value=1>@EnumString.GetStringValue(ReportStatus.InProgress)</option>
                    <option value=2>@EnumString.GetStringValue(ReportStatus.Done)</option>
                    <option value=3>@EnumString.GetStringValue(ReportStatus.Rejected)</option>
                </select>
                }
            </div>
            <br />
            <div class="row">
                <label class="col-sm-6 text-center">Описание</label>
                @if (ViewBag.Report.Status == 0 || ViewBag.UserId == ViewBag.Report.ModeratorId)
                {
                <textarea class="col-sm-6 form-control mb-3" name="Description" placeholder="Description" value="@ViewBag.Report.Description">@ViewBag.Report.Description</textarea>
                }
                else
                {
                <textarea class="col-sm-6 form-control mb-3" name="Description" placeholder="Description" value="@ViewBag.Report.Description" disabled>@ViewBag.Report.Description</textarea>
                }
            </div>
            <br />

            <label class="col-sm-6 text-center">Фотографии</label>
            <div style="overflow-y: scroll">
                @foreach (var photo in ViewBag.Report.Photos)
                {
                <img width="200" height="200" src="data:image/gif;base64,@photo" />
                }
            </div>

            <div class="row">
                <label class="col-sm-6 text-center">Комментарий</label>
                @if (ViewBag.Report.Status == 0 || ViewBag.UserId == ViewBag.Report.ModeratorId)
                {
                <textarea class="col-sm-6 form-control mb-3" name="Comment" placeholder="Comment" value="@ViewBag.Report.Comment">@ViewBag.Report.Comment</textarea>
                }
                else
                {
                <textarea class="col-sm-6 form-control mb-3" name="Comment" placeholder="Comment" value="@ViewBag.Report.Comment" disabled>@ViewBag.Report.Comment</textarea>
                }
            </div>
            <br />

            <div class="row">
                <label class="col-sm-6 text-center">Широта</label>
                <input type="hidden" name="Latitude" value="@ViewBag.Report.Latitude" required>
                <span class="col-sm-6 form-control mb-3">@ViewBag.Report.Latitude</span>
            </div>
            <br />

            <div class="row">
                <label class="col-sm-6 text-center">Долгота</label>
                <input type="hidden" name="Longitude" value="@ViewBag.Report.Longitude" required>
                <span class="col-sm-6 form-control mb-3">@ViewBag.Report.Longitude</span>
            </div>
            <br />

            <input type="hidden" name="UserId" value="@ViewBag.Report.UserId" required>
            <input type="hidden" name="ModeratorId" value="@ViewBag.Report.ModeratorId" required>

            @if (ViewBag.Report.Status == 0 || ViewBag.UserId == ViewBag.Report.ModeratorId)
            {
            <button type="submit" class="btn" id="Report-submit">Обновить</button>
            }
            else
            {
            <button type="submit" class="btn" id="Report-submit" disabled>Обновить</button>
            }
        </form>
    </div>
</div>

<script type="text/javascript">
    $(function() {
        var selected = @((int)ViewBag.Report.Status);
        $(".status [value='"+selected+"']").attr("selected", "selected");
    })
</script>

<script>
    //function parserReportClicked(ip) {
    //    window.$.ajax({
    //        url: '/Parsers/Report?ip=' + ip,
    //        dataType: 'json',
    //        type: 'GET',
    //        processData: false,
    //        async: false,
    //        headers: {
    //            'Accept': 'application/json',
    //            'Content-Type': 'application/json'
    //        },
    //        success: function (json) {
    //            $('#proxyApiLogin').text(json["ProxyApiLogin"]);
    //            $('#proxyApiPassword').text(json["ProxyApiPassword"]);
    //            $('#parsingPeriodHours').text(json["ParsingPeriodHours"]);

    //            $('#keywordQueueSize').text(json["KeywordDirectorReport"]["QueueSize"]);
    //            $('#keywordPullerTimeout').text(json["KeywordDirectorReport"]["PullerTimeout"]);
    //            $('#keywordPusherTimeout').text(json["KeywordDirectorReport"]["PusherTimeout"]);
    //            $('#keywordParallelDegree').text(json["KeywordDirectorReport"]["ParallelDegree"]);
    //            $('#keywordGreedLevel').text(json["KeywordDirectorReport"]["GreedLevel"]);

    //            $('#keywordProductQueueSize').text(json["KeywordProductDirectorReport"]["QueueSize"]);
    //            $('#keywordProductPullerTimeout').text(json["KeywordProductDirectorReport"]["PullerTimeout"]);
    //            $('#keywordProductPusherTimeout').text(json["KeywordProductDirectorReport"]["PusherTimeout"]);
    //            $('#keywordProductParallelDegree').text(json["KeywordProductDirectorReport"]["ParallelDegree"]);
    //            $('#keywordProductGreedLevel').text(json["KeywordProductDirectorReport"]["GreedLevel"]);
    //        }
    //    });
    //}
</script>
